main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: flex-end;

  position: relative;
}
.main_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}

.main input {
  font-size: 48px;
  font-weight: 400;

  text-align: center;
}

.main input::placeholder {
  font-size: 48px;
  font-weight: 400;
  color: whitesmoke;
  text-align: center;
}

.main input:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.hidden {
  display: none;
}

#greeting {
  font-size: 48px;
  font-weight: 200;
}

.greeting-setting i {
  color: whitesmoke;
  opacity: 0.6;
}

.greeting-setting i:hover,
.game-start-btn,
.game-close-btn {
  cursor: pointer;
}

.greeting-setting-btn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.greeting-setting-content {
  width: 100px;
  height: 80px;

  border-radius: 0 10px 10px;

  position: absolute;
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.greeting-setting-content i {
  padding: 5px;
}

.column a:active {
  transform: scale(0.6);
}

#game-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
}

canvas {
  background: #2d3436;
  border: 2px solid #fff;
}
